body {
 background-color: #836464;
    color: #9d3e3e;
    text-align: left;
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
}

#cabecera {
   
    box-shadow: 0px 2px 50px 0px rgb(73, 73, 217);
    color: rgb(64, 59, 59);
    font-weight: bold;
    margin: 0;
    padding: 0.5cm;
    background-color: rgb(152, 169, 163);
}

#cabecera #tagline {
    padding: 0 0 0 1cm;
    font-weight: normal;
    padding: 0.5cm;
}

#container {
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 1px solid #836464;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}


 
#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}
#post #oculta
{
    width: 400px;
    vertical-align: middle;
}
#post
{
    background: rgb(255, 255, 255);
    padding: 1cm;
 
}

#footer{
    width: 40%;
    padding: 1cm;
    text-align: left;
    border: 1px solid #d52e2e;
    margin: 0 auto;

 
}